.container {
    width: 100vw;
    height: 100vh;

    .header {
        width: 100vw;
        height: 20vh;
        background-color: #324c94;
        display: flex;
        flex-direction: column;

        .upper {
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-around;

            button {
                padding: 10px 20px;
                font-weight: 500;
                background: transparent;
                border: none;
                color: white;
                font-size: 18px;
                cursor: pointer;
            }

            .begin {
                border-radius: 5px;
                background-color: #4eaa4e;
            }

            .walls-checkbox {
                display: flex;
                align-items: center;
                margin-right: 10%;
            }
            
            .speed {
                display: flex;
                align-items: center;
            }
        }

        .bottom {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .message-box {
                margin-top: 40px;
                font-size: 18px;
                font-weight: 500;
                color: white;
            }

        }

    }

    .grid-container {
        width: 100vw;
        height: calc(100vh - 100px);
        
        
        .grid {
            margin-top: 2px;
            margin-left: 2px;
        }

    }


}


.MuiSvgIcon-fontSizeMedium path {
    color: white;
}

.MuiOutlinedInput-root fieldset {
    border: none;

}

.row-container {
    display: flex;
}