.node {
    width: 28.9px;
    height: 28.9px;
    border: 1px solid rgb(109, 224, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animateVisited {
    0%{
        width: 0;
        height: 0;
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: #67edf7;
    }
    20%{
        background-color: #61c5ec;
    }
    40%{
        background-color: #58ade6;
    }
    60%{
        background-color: #51a7ee;
    }
    80%{
        background-color: #4ea9f3;
    }
    100%{
        width: 28.9px;
        height: 28.9px;
        border-radius: 50%;
        transform: rotate(360deg);
        background-color: #67c2f7;
    }
}

@keyframes path {
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 28.9px;
        height: 28.9px;
    }
}

.walls {
    background-color: #252525;
}

.start {
    background-color: rgb(240, 86, 86);
}

.end {
    background-color: rgb(124, 212, 97);
}


.visited {
    background-color: #e7db29;
}

.node-anime {
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime-visited {
    width: 28.9px;
    height: 28.9px;
    background-color: #67c2f7;
    animation: animateVisited 0.4s ease;
}

.node-path {
    width: 28.9px;
    height: 28.9px;
}

.path {
    background-color: #fdee65;
    animation: path 1s ease;
}
