.node {
    width: 28.9px;
    height: 28.9px;
    border: 1px solid rgb(109, 224, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animateVisited {
    0% {
        width: 0;
        height: 0;
        background-color: #A66CFF;
    }

    20% {
        background-color: #A66CFF;
    }

    40% {
        background-color: #ae9cfe;
    }

    60% {
        background-color: #AFB4FF;
    }

    80% {
        background-color: #AFB4FF;
    }

    100% {
        width: 28.9px;
        height: 28.9px;
        background-color: #93cbff;
    }
}

@keyframes path {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        background-color: #073b4c;
    }

    20% {
        opacity: 0.2;
        background-color: #A66CFF;
    }

    40% {
        opacity: 0.4;
        background-color: #118ab2;
    }

    60% {
        opacity: 0.6;
        background-color: #06d6a0;
    }

    80% {
        opacity: 0.8;
        background-color: #ffd166;
    }

    100% {
        opacity: 1;
        background-color: #ef476f;
        width: 28.9px;
        height: 28.9px;
    }
}

@keyframes walls {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.walls {
    background-color: #252525;
    animation: walls 0.1s ease;
}

.weight {
    background: url('../../../public/weight.png');
    background-size: cover;
}

.start {
    background: url('https://img.icons8.com/fluency/48/000000/play.png');
    background-size: cover;
    
}

.end {
    background: url('https://img.icons8.com/bubbles/100/000000/define-location.png');
    background-size: cover;
}

.node-anime {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.9px;
    height: 28.9px;
}

.visited {
    width: 28.9px;
    height: 28.9px;
    background-color: #93cbff;
    animation: animateVisited 0.8s ease;
}

.path {
    width: 28.9px;
    height: 28.9px;
    background-color: #06d6a0;
    animation: path 0.5s ease;
}